@import url(template.css);
@import url(template.js);

.heading-container {
    font-size: 15px;
    font-family: "Nexa-H", sans-serif;
    color: #015c2e;
    margin-left: 20px;
}

.paragraph-container {
    font-size: 15px;
    font-family: "Nexa-EL", sans-serif;
    color: black;
    text-align: justify;
    margin-left: 20px;
    margin-right: 20px;
}

table {
    border-collapse: collapse;
    width: 100%;
    margin-top: 20px;
}

th, td {
    border: 1px solid #ddd;
    padding: 8px;
    text-align: center;
	font-family: "Nexa-EH", sans-serif;
	background-color: #f2f2f2;
}

th {
    background-color: #17B169;
	text-align: center;
	font-family: "Nexa-EH", sans-serif;
}
