@import url(template.css);

.nav-container ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
    width: 100%;
    background-color: #015c2e;
}
  
.nav-container li a {
    display: block;
    color: whitesmoke;
    padding: 0.8vh;
    text-decoration: none;
    font-family: "Nexa-EL", sans-serif;
    font-size: 2.5vh;
}

.heading-container {
    font-size: 15px;
    font-family: "Nexa-H", sans-serif;
    color: #015c2e;
    margin-left: 20px;
}

.card-title {
	font-size: 15px;
	font-family: "Nexa-H", sans-serif;
	color: #4CAF50;
	text-align: center;
}

.card-text {
	font-size: 14px;
	font-family: "Nexa-H", sans-serif;
	text-align: center;
}

.card-img-top {
	width: 50%;
	height: 250px;
}

.card-body {
	height: 50%;
}