/********** General Style **********/
@font-face {
    font-family: "Nexa-EL";
    src: url(fonts/nexa/Nexa-ExtraLight.ttf) format('truetype');
}
@font-face {
    font-family: "Nexa-H";
    src: url(fonts/nexa/Nexa-Heavy.ttf) format('truetype');
}

body {
    background-image: url("assets/bg.png"); /* Add the URL of your background image */
    background-size: cover; /* Set the background image size to cover the entire body */
    background-repeat: no-repeat; /* Prevent the background image from repeating */
    background-position: center; /* Center the background image */
}

/********** Banner **********/
.banner-container {
    width: 100%;
    position: relative;
}
.banner-spacer {
    width: 100%; /* let the enlarged image height push .aspectwrapper's bottom edge */
}
.banner-content {
    position: absolute;
    top: 0; 
    bottom: 0; 
    right: 0; 
    left: 0;
    display: flex;
    justify-content: center;
    align-items: center;
    color: whitesmoke;
    text-shadow: 2px 2px 4px rgba(0, 0, 0, 0.3);
}
.banner-content p{
    font-size: 5vw;
    text-align: center;
    font-family: "Nexa-H", sans-serif;
}

/********* Navigation Bar and Content Section Container *********/
.container {
    display: flex;
    margin-top: 0.2%;
}

/********** Navigation Bar ***********/

.nav-container {
    height: 75.5vh;
    width: 12.5%;

    overflow-y: auto;
    overflow-x: auto;

    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.5);
}

.nav-container::-webkit-scrollbar {
    width: 4px;
}

.nav-container::-webkit-scrollbar-thumb {
    border-radius: 4px;
    background-color: #888;
}

.nav-container::-webkit-scrollbar-thumb:horizontal {
    height: 4px; 
}
  
.nav-container ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
    width: 100%;
    background-color: #015c2e;
}
  
.nav-container li a {
    display: block;
    color: whitesmoke;
    padding: 8px;
    text-decoration: none;
    font-family: "Nexa-EL", sans-serif;
    font-size: 2.5vh;
}

.active {
    background-color: #04AA6D;
    color: whitesmoke;
  }

.nav-container li a.active {
    background-color: whitesmoke;
    color: #015c2e;
    font-family: "Nexa-H", sans-serif;
  }
  
.nav-container li a:hover:not(.active) {
    background-color: whitesmoke;
    color: #015c2e;
    font-family: "Nexa-EL", sans-serif;
  }
  
/********* Content *********/
.content-container {
    width: 100%;
    height: 75.5vh;
    display: flex;
    flex-direction: column;
    overflow-y: auto;
    outline: thin dashed green; /* Pang check */
}

.content-container::-webkit-scrollbar {
    width: 4px;
}

.content-container::-webkit-scrollbar-thumb {
    border-radius: 4px;
    background-color: #888;
}

.content-container::-webkit-scrollbar-thumb:horizontal {
    height: 4px; 
}
